.navbar{
	color: #fff
}
/* definicja styli klasy .sandbox kiedy jest pusta */
/* https://developer.mozilla.org/pl/docs/Web/CSS/:empty */
.sandbox:empty{ 
	display: none
}
/* definicja styli klasy .sandbox */
.sandbox{
	border: 1px solid #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	padding: 5px;
	margin: 5px auto;
}

#exercise1 .sandbox{
	/* cień tekstu w piaskownicy */
	text-shadow: 2px 2px 2px rgba(150, 150, 150, 0.8);
}

#exercise2 .sandbox .shield{
	border: 2px solid #000000;
	width: 100px;
	height: 100px;
	border: 1px solid #000;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	background-color: #fff;
	position: relative;
	left: 0%;
	
	/* radial-gradient pozwala nam "rysować tło" elementu (dokładny opis w linku); zwróćcie uwagę na wsparcie przeglądarek */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/radial-gradient */
	background: -moz-radial-gradient(center, ellipse cover, yellow 0%, red 20%, blue 40%, black 60%, yellow 80%);
	background: -webkit-radial-gradient(center, ellipse cover, yellow 0%, red 20%, blue 40%, black 60%, yellow 80%);
	background: radial-gradient(ellipse at center, yellow 0%, red 20%, blue 40%, black 60%, yellow 80%);
	/* takimi zabawkami możecie bawić się sami lub użyć generatorów */
	/* http://www.colorzilla.com/gradient-editor/ */

	/* przypisujemy animację moveItMoveIt trwając 5 sekund, nieskończoną ilość razy, z efektem przyśpieszenia na początku i końcu (ease-in-out) */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/transition-timing-function */
	-webkit-animation: moveItMoveIt 5s infinite ease-in-out;
    -moz-animation: moveItMoveIt 5s infinite ease-in-out;
    animation: moveItMoveIt 5s infinite ease-in-out;
}

@keyframes moveItMoveIt {
  0% { left: 0% }
  50% { left: 90% }
  100% { left: 0% }
}

.star:after{
	content:'\2606';
	color: #f00;
	font-size: 150%;
}



